<div class="I-navbar" id="navbar">
    <nav class="nav">
        <div>
            <a href="#" >
                <span class="text">Nelson Akonoafua</span>
            </a>
            <div class="nav_toggle" id="nav_toggle">
                <i class='bx bxs-chevrons-right'></i>
            </div>
            <ul class="nav_list">
                <a href="#" class="nav_link active">
                    <i class='bx bxs-grid-alt'></i>
                    <span class="nav_text">Home</span>
                </a>
                <a href="#" class="nav_link active">
                    <i class='bx bx-user'></i>
                    <span class="nav_text">About</span>
                </a>
                <a href="#" class="nav_link active">
                    <i class='bx bx-star'></i>
                    <span class="nav_text">Skills</span>
                </a>
                <a href="#" class="nav_link active">
                    <i class='bx bxs-briefcase'></i>
                    <span class="nav_text">Experience</span>
                </a>
                <a href="#" class="nav_link active">
                    <i class='bx bxs-contact'></i>
                    <span class="nav_text">Contact</span>
                </a>
            </ul>
        </div>
        <a href="#" class="nav_link active">
            <i class='bx bxs-exit'></i>
            <span class="nav_text">Close</span>
        </a>
    </nav>
</div>